#main {
    transition: margin-left .5s;
    padding: 16px;
    top: 200;
    position: relative;
    z-index: 3; /* 確保主內容位於其他內容之上 */
}

@media screen and (max-height: 450px) {
 #sidebar {padding-top: 15px;}
 #sidebar a {font-size: 18px;}
}

#sidebar {
    height: 100%;                   /* 側邊欄高度全高*/
    width: 0;                       /* 設定0才能收起來*/
    position: fixed;                /*設置了側邊欄的定位方式為固定定位，這樣側邊欄就會相對於視窗固定位置，不會隨著頁面滾動而移動。*/
    z-index: 3;                     /*設置了側邊欄的 Z 軸層級，確保它在其他元素之上顯示。*/
    top: 70px;                         /*設置了側邊欄的位置為視窗的上方。*/
    left: 0;                        /*設置了側邊欄的位置為視窗的左方。*/
    background-color: #111;         /*設置了側邊欄的背景顏色為黑色*/
    overflow-x: hidden;
    transition: 0.5s;               /*這一行設置了側邊欄的過渡效果為 0.5 秒，這樣在側邊欄寬度發生變化時會有漸變效果(動畫效果)*/
    padding-top: 60px;              /*在側邊欄上方留出 60px 空間。*/
}

#sidebar p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;        /*這樣超連結就不會有下劃線*/
    font-size: 25px;              /*超連結的字體大小為 25 像素*/
    color: #818181;               /*設置了超連結的文本顏色為灰色*/
    display: block;               /*超連結為塊級元素，這樣它會單獨佔據一行*/
    transition: 0.3s;
}

#sidebar p:hover {
    color: #f1f1f1;
}

#sidebar .closebtn {
    position: absolute;
    top: 70px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.profile {
    display: flex;
    align-items: center;
}

.avatar {
    margin-right: 20px;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* 將圖像設置為圓形 */
}

.info h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
}

.info p {
    margin: 0;
    color: #ddd;
    font-size: 18px;
}

.info p:first-child {
    font-size: 20px;
}

.partner {
    margin-left:100px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.partner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}